/* =========== Google Fonts ============ */
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap");

/* =============== Globals ============== */
* {
  font-family: "Ubuntu", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --blue: #00417e;
  --lightblue:#0270ca;
  --white: #fff;
  --gray: #f5f5f5;
  --black1: #222;
  --black2: #999;
}

body {
  min-height: 100vh;
  overflow-x: hidden;
  
}

.container {
  position: relative;
  width: 100%;
}

/* =============== Navigation ================ */
.navigation {
  position: fixed;
  width: 300px;
  height: 100%;
  background: var(--blue);
  border-left: 10px solid var(--blue);
  transition: 0.5s;
  overflow: hidden;
  overflow-y: scroll;

  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.navigation::-webkit-scrollbar {
  display: none;
}



.navigation.active {
  width: 110px;
}

.navigation ul {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
}

.navigation ul li {
  position: relative;
  width: 100%;
  list-style: none;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
}

.navigation ul li:hover,
.navigation ul li.hovered {
  background-color: var(--white);
}

.navigation ul li:nth-child(1) {
  margin-bottom: 40px;
  pointer-events: none;
}

.navigation ul li a {
  position: relative;
  display: block;
  width: 100%;
  display: flex;
  text-decoration: none;
  color: var(--white);
}
.navigation ul li:hover a,
.navigation ul li.hovered a {
  color: var(--blue);
}

.navigation ul li a .icon {
  position: relative;
  display: block;
  min-width: 60px;
  height: 60px;
  line-height: 75px;
  text-align: center;
}
.navigation ul li a .icon ion-icon {
  font-size: 1.75rem;
}

.navigation ul li a .title {
  position: relative;
  display: block;
  padding: 0 10px;
  height: 60px;
  line-height: 60px;
  text-align: start;
  white-space: nowrap;
}

/* --------- curve outside ---------- */
.navigation ul li:hover a::before,
.navigation ul li.hovered a::before {
  content: "";
  position: absolute;
  right: 0;
  top: -50px;
  width: 50px;
  height: 50px;
  background-color: transparent;
  border-radius: 50%;
  box-shadow: 35px 35px 0 10px var(--white);
  pointer-events: none;
}
.navigation ul li:hover a::after,
.navigation ul li.hovered a::after {
  content: "";
  position: absolute;
  right: 0;
  bottom: -50px;
  width: 50px;
  height: 50px;
  background-color: transparent;
  border-radius: 50%;
  box-shadow: 35px -35px 0 10px var(--white);
  pointer-events: none;
}


/*  Colour labels   */
.product__details__option__color {
	display: inline-block;
	position: relative;
	top: 10px;
}

.product__details__option__color span {
	color: #111111;
	display: inline-block;
	margin-right: 10px;
	position: relative;
	top: -9px;
}

.product__details__option__color label {
	height: 30px;
	width: 30px;
	border-radius: 50%;
	position: relative;
	margin-right: 10px;
	margin-bottom: 0;
	display: inline-block;
	cursor: pointer;
}

.product__details__option__color label.c-1 {
	background: #0b090c;
}

.product__details__option__color label.c-2 {
	background: #20315f;
}

.product__details__option__color label.c-3 {
	background: #f1af4d;
}

.product__details__option__color label.c-4 {
	background: #ed1c24;
}

.product__details__option__color label.c-9 {
	background: #616161;
  
}

.product__details__option__color label:after {
	position: absolute;
	left: -3px;
	top: -3px;
	height: 36px;
	width: 36px;
	border: 1px solid #e5e5e5;
	content: "";
	border-radius: 50%;
}

.product__details__option__color label input {
	position: absolute;
	visibility: hidden;
}



/* ===================== Main ===================== */
.main {
  position: absolute;
  width: calc(100% - 300px);
  left: 300px;
  min-height: 100vh;
  background: var(--white);
  transition: 0.5s;
  
}


.topbar {
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
}

.toggle {
  position: relative;
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2.5rem;
  cursor: pointer;
}

.search {
  position: relative;
  width: 400px;
  margin: 0 10px;
}

.search label {
  position: relative;
  width: 100%;
}

.search label input {
  width: 100%;
  height: 40px;
  border-radius: 40px;
  padding: 5px 20px;
  padding-left: 35px;
  font-size: 18px;
  outline: none;
  border: 1px solid var(--black2);
}

.search label ion-icon {
  position: absolute;
  top: 0;
  left: 10px;
  font-size: 1.2rem;
}

.user {
  position: relative;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  overflow: hidden;
  cursor: pointer;
}

.user img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

h2{
  color: #004666;
}

#labels {
  position: relative;
  font-weight: 500;
  font-size: 1.5rem;
  color: var(--blue);


}

a{
  text-decoration: none;
}



/* ======================= chat====================== */

.shadow-textarea textarea.form-control::placeholder {
  font-weight: 300;
}
.shadow-textarea textarea.form-control {
  padding-left: 0.8rem;
}

.message-group-received {
  display: flex;
  width: 100%;
  margin-bottom: 20px;
  
}

.message-group-received > div:first-child {
  margin-top: auto;
  margin-right: 5px;
}

.message-group-received > div:last-child {
  flex-grow: 1;
}

.message-group-received > div:first-child > img {
  border-radius: 50%;
  height: 25px;
  width: 25px;
}

.message-received {
  max-width: 75%;
  margin: 2px 0;
  display: flex;
}

.message-received:first-child > .message-received-text {
  border-top-left-radius: 20px;
}

.message-received:last-child > .message-received-text {
  border-bottom-left-radius: 20px;
}

.message-received-text {
  padding: 10px;
  min-height: 20px;
  background: #373737;
  border-radius: 4px 20px 20px 4px;
  color: #eee;
}

.message-group-sent {
  width: 100%;
  margin-bottom: 20px;
  text-align: right;
}

.message-sent {
  max-width: 75%;
  display: flex;
  margin: 2px 0 2px auto;
}

.message-sent-text {
  background: #0099ff;
  border-radius: 20px 4px 4px 20px;
  min-height: 20px;
  padding: 10px;
  margin-left: auto;
}

.message-sent:first-child > .message-sent-text {
  border-top-right-radius: 20px;
}

.message-sent:last-child > .message-sent-text {
  border-bottom-right-radius: 20px;
}

.message-sent-status {
  width: 15px;
  display: flex;
  margin-left: 5px;
  font-size: 15px;
  color: rgba(134, 142, 153, 0.5);
}

.message-sent-status > img {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  margin-top: auto;
}

.message-sent-status > i {
  margin-top: auto;
}


.StaticChat .message-received-text{
  display: block;/* or inline-block */
  text-overflow: ellipsis;
  word-wrap: break-word;
  overflow: hidden;
  max-height: fit-content;
  line-height: 1.8em;
}

.StaticChat .message-sent-text{
  display: block;/* or inline-block */
  text-overflow: ellipsis;
  word-wrap: break-word;
  overflow: hidden;
  max-height: fit-content;
  line-height: 1.8em;
}




/* ======================= Cards for Inbox====================== */
.inboxCard {
  position: relative;
  width: 100%;
  padding: 20px;
  display: list-item;
  list-style: none;
}





.inboxCard .card {
  position: relative;
  background: var(--white);
  padding: 30px;
  border-radius: 20px;
  display: flex;
  justify-content: space-between;
  cursor: pointer;
  box-shadow: 0 7px 25px rgba(0, 0, 0, 0.08);
  
 
}

.inboxCard .card .numbers {
  position: relative;
  font-weight: 500;
  font-size: 2.5rem;
  color: var(--blue);

}

.chatName {
  position: relative;
  font-weight: 500;
  font-size: 2.5rem;
  color: var(--blue);
  text-align: center;

}

.inboxCard .card .cardName {
  color: var(--black2);
  font-size: 1.1rem;
  margin-top: 5px;
}

.inboxCard .card .iconBx {
  font-size: 3.5rem;
  color: var(--black2);
}

.inboxCard .card:hover {
  background: var(--lightblue);
}
.inboxCard .card:hover .numbers,
.inboxCard .card:hover .cardName,
.inboxCard .card:hover .iconBx {
  color: var(--white);
}

.gap{
  padding-top: 2rem;
}

/* ======================= Cards ====================== */
.cardBox {
  position: relative;
  width: 100%;
  padding: 20px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 30px;
  
}





.cardBox .card {
  position: relative;
  background: var(--white);
  padding: 30px;
  border-radius: 20px;
  display: flex;
  justify-content: space-between;
  cursor: pointer;
  box-shadow: 0 7px 25px rgba(0, 0, 0, 0.08);
  
 
}

.cardBox .card .product_image{
  max-width: 200px;
  max-height: 300px;
  
 
}

.cardBox .card .numbers {
  position: relative;
  font-weight: 500;
  font-size: 2.5rem;
  color: var(--blue);

}

.cardBox .card .cardName {
  color: var(--black2);
  font-size: 1.1rem;
  margin-top: 5px;
}

.cardBox .card .iconBx {
  font-size: 3.5rem;
  color: var(--black2);
}

.cardBox .card:hover {
  background: var(--blue);
}
.cardBox .card:hover .numbers,
.cardBox .card:hover .cardName,
.cardBox .card:hover .iconBx {
  color: var(--white);
}


.cardBox .card_button {
  position: relative;
  background: var(--white);
  padding: 30px;
  border-radius: 20px;
  display: flex;
  justify-content: space-between;
  cursor: pointer;
  box-shadow: 0 7px 25px rgba(0, 0, 0, 0.08);
  max-width: 200px;
  max-height: 100px;
 
}

.cardBox .card_button .numbers {
  position: relative;
  font-weight: 800;
  font-size: 0.8rem;
  color: var(--blue);

}

.cardBox .card_button .cardName {
  color: var(--black2);
  font-size: 1.1rem;
  margin-top: 5px;
}

.cardBox .card_button .iconBx {
  font-size: 1.8rem;
  color: var(--black2);
}

.cardBox .card_button:hover {
  background: var(--blue);
}
.cardBox .card_button:hover .numbers,
.cardBox .card_button:hover .cardName,
.cardBox .card_button:hover .iconBx {
  color: var(--white);
}
.gap{
  padding-top: 2rem;
}


/* ======================= Cards for financial summary ====================== */
.cardFinance{
  position: relative;
  width: 100%;
  padding: 20px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 30px;
  
}

.cardFinance2{
  position: relative;
  width: 100%;
  padding: 20px;
  display: list-item;
  list-style: none;
  
}





.cardFinance2 .card {
  position: relative;
  background: var(--white);
  padding: 30px;
  border-radius: 20px;
  display: flex;
  justify-content: space-between;
  cursor: pointer;
  box-shadow: 0 7px 25px rgba(0, 0, 0, 0.08);
  
 
}

.cardFinance2 .card .numbers {
  position: relative;
  font-weight: 500;
  font-size: 2.5rem;
  color: var(--blue);

}

.cardFinance2 .card .cardName {
  color: var(--black2);
  font-size: 1.1rem;
  margin-top: 5px;
}

.cardFinance2 .card .iconBx {
  font-size: 3.5rem;
  color: var(--black2);
}


.cardFinance .card {
  position: relative;
  background: var(--white);
  padding: 30px;
  border-radius: 20px;
  display: flex;
  justify-content: space-between;
  cursor: pointer;
  box-shadow: 0 7px 25px rgba(0, 0, 0, 0.08);
  
 
}

.cardFinance .card .numbers {
  position: relative;
  font-weight: 500;
  font-size: 2.5rem;
  color: var(--blue);

}

.cardFinance .card .cardName {
  color: var(--black2);
  font-size: 1.1rem;
  margin-top: 5px;
}

.cardFinance .card .iconBx {
  font-size: 3.5rem;
  color: var(--black2);
}

.chat{
  position: relative;
  width: 100%;
  padding: 20px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 30px;
  
}

.chat .card {
  position: relative;
  background: var(--white);
  padding: 30px;
  border-radius: 20px;
  display: flex;
  justify-content: space-between;
  cursor: pointer;
  box-shadow: 0 7px 25px rgba(0, 0, 0, 0.08);
  
 
}

.chat .card .numbers {
  position: relative;
  font-weight: 500;
  font-size: 2.5rem;
  color: var(--blue);

}

.chat .card .cardName {
  color: var(--black2);
  font-size: 1.1rem;
  margin-top: 5px;
}

.chat .card .iconBx {
  font-size: 3.5rem;
  color: var(--black2);
}


/*________________________Static chat box_________________________*/
.StaticChat .card {
  position: fixed;
  z-index: 2;
  
  right: 60px;
  background: var(--white);
  padding: 20px;
  border-radius: 20px;
  display: flex;
  justify-content: space-between;
  cursor: pointer;
  box-shadow: 0 7px 25px rgba(0, 0, 0, 0.08);
  
 
}

.scrollbar {
 
  float: left;
  background: #fff;
  overflow-y: scroll;
  margin-bottom: 25px;
}
.force-overflow {
  min-height: 450px;
}

.scrollbar-primary::-webkit-scrollbar {
  width: 12px;
  background-color: #F5F5F5;
}

.scrollbar-primary::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #4285F4;
}

.scrollbar-primary {
  scrollbar-color: #4285F4 #F5F5F5;
}

.StaticChat .card .numbers {
  position: relative;
  font-weight: 500;
  font-size: 2.5rem;
  color: var(--blue);

}

.StaticChat .card .cardName {
  color: var(--black2);
  font-size: 1.1rem;
  margin-top: 5px;
}

.StaticChat .card .iconBx {
  font-size: 3.5rem;
  color: var(--black2);
}



.StaticChatList .card .numbers {
  position: relative;
  font-weight: 500;
  font-size: 2.5rem;
  color: var(--blue);

}

.StaticChatList .card .cardName {
  color: var(--black2);
  font-size: 1.1rem;
  margin-top: 5px;
}

.StaticChatList .card .iconBx {
  font-size: 3.5rem;
  color: var(--black2);
}

.hidescroll::-webkit-scrollbar {
  display: none;
}



.StaticChatList .card {
  position: fixed;
  z-index: 2;
  right: 400px;
  background: var(--white);
  padding: 20px;
  border-radius: 20px;
  display: flex;
  justify-content: space-between;
  cursor: pointer;
  box-shadow: 0 7px 25px rgba(0, 0, 0, 0.08);
  
 
}

/* ======================= Cards of panels ====================== */
.cardProfile {
  position: relative;
  width: 100%;
  padding: 20px;
  display: block;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 30px;
}


.cardProfile .card {
  position: relative;
  background: var(--white);
  padding: 30px;
  border-radius: 20px;
  display: flex;
  justify-content: space-between;
  cursor: pointer;
  box-shadow: 0 7px 25px rgba(0, 0, 0, 0.08);
}

.cardProfile .card .numbers {
  position: relative;
  font-weight: 500;
  font-size: 1.5rem;
  color: var(--blue);
}

.cardProfile .card .cardName {
  color: var(--black2);
  font-size: 1.1rem;
  margin-top: 5px;
}

.cardProfile .card .iconBx {
  font-size: 3.5rem;
  color: var(--black2);
}

.cardProfile.card:hover {
  background: var(--blue);
}
.cardProfile.card:hover .numbers,
.cardProfile.card:hover .cardName,
.cardProfile.card:hover .iconBx {
  color: var(--white);
}



/* ================== Order Details List ============== */
.details {
  position: relative;
  width: 100%;
  padding: 20px;
  display: block;
 
  /* margin-top: 10px; */
}

.details .recentOrders {
  position: relative;
  display: grid;
  min-height: 500px;
  background: var(--white);
  padding: 20px;
  box-shadow: 0 7px 25px rgba(0, 0, 0, 0.08);
  border-radius: 20px;
}

.details .recentOrders table img{
   max-width: 100px;
   max-height: 200px;
}

.details .cardHeader {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.cardHeader h2 {
  font-weight: 600;
  color: var(--blue);
}
.cardHeader .btn {
  position: relative;
  padding: 5px 10px;
  background: var(--blue);
  text-decoration: none;
  color: var(--white);
  border-radius: 6px;
}

.btn {
  position: relative;
  padding: 5px 10px;
  background: var(--blue);
  text-decoration: none;
  color: var(--white);
  border-radius: 6px;
}


.btn:hover{
  color: var(--white);
}


.details table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
}
.details table thead td {
  font-weight: 600;
}
.details .recentOrders table tr {
  color: var(--black1);
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.details .recentOrders table tr:last-child {
  border-bottom: none;
}
.details .recentOrders table tbody tr:hover {
  background: var(--blue);
  color: var(--white);
}
.details .recentOrders table tr td {
  padding: 10px;
}
.details .recentOrders table tr td:last-child {
  text-align: center;
}
.details .recentOrders table tr td:nth-child(2) {
  text-align: eenter;
}
.details .recentOrders table tr td:nth-child(3) {
  text-align: center;
}


.status.delivered {
  padding: 2px 4px;
  background: #8de02c;
  color: var(--white);
  border-radius: 4px;
  font-size: 14px;
  font-weight: 500;
}
.status.pending {
  padding: 2px 4px;
  background: #e9b10a;
  color: var(--white);
  border-radius: 4px;
  font-size: 14px;
  font-weight: 500;
}
.status.return {
  padding: 2px 4px;
  background: #f00;
  color: var(--white);
  border-radius: 4px;
  font-size: 14px;
  font-weight: 500;
}
.status.inProgress {
  padding: 2px 4px;
  background: #1795ce;
  color: var(--white);
  border-radius: 4px;
  font-size: 14px;
  font-weight: 500;
}

.recentCustomers {
  position: relative;
  display: grid;
  min-height: 500px;
  padding: 20px;
  background: var(--white);
  box-shadow: 0 7px 25px rgba(0, 0, 0, 0.08);
  border-radius: 20px;
}
.recentCustomers .imgBx {
  position: relative;
  width: 40px;
  height: 40px;
  border-radius: 50px;
  overflow: hidden;
}
.recentCustomers .imgBx img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.recentCustomers table tr td {
  padding: 12px 10px;
}
.recentCustomers table tr td h4 {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.2rem;
}
.recentCustomers table tr td h4 span {
  font-size: 14px;
  color: var(--black2);
}
.recentCustomers table tr:hover {
  background: var(--blue);
  color: var(--white);
}
.recentCustomers table tr:hover td h4 span {
  color: var(--white);
}

.my-custom-scrollbar {
  position: relative;
  height: 80%;
  overflow: auto;
  }
  .table-wrapper-scroll-y {
  display: block;
  }

.recentOrders table tr td {
  padding: 12px 10px;
}
.recentOrders table tr td h4 {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.2rem;
}
.recentOrders table tr td h4 span {
  font-size: 14px;
  color: var(--black2);
}
.recentOrders table tr:hover {
  background: var(--blue);
  color: var(--white);
}
.recentOrders table tr:hover td h4 span {
  color: var(--white);
}

.h-gap{
 width: 2rem;
}




/* Style The Dropdown Button */
.dropbtn {
  background-color:var(--blue);
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  border-radius: 0 0 0.5rem 0.5rem ;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #f1f1f1}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
  background-color: #00295e;
}



/* ====================== chat ========================== */



#chat1 .form-outline .form-control~.form-notch div {
  pointer-events: none;
  border: 1px solid;
  border-color: #eee;
  box-sizing: border-box;
  background: transparent;
  }
  
  #chat1 .form-outline .form-control~.form-notch .form-notch-leading {
  left: 0;
  top: 0;
  height: 100%;
  border-right: none;
  border-radius: .65rem 0 0 .65rem;
  }
  
  #chat1 .form-outline .form-control~.form-notch .form-notch-middle {
  flex: 0 0 auto;
  max-width: calc(100% - 1rem);
  height: 100%;
  border-right: none;
  border-left: none;
  }
  
  #chat1 .form-outline .form-control~.form-notch .form-notch-trailing {
  flex-grow: 1;
  height: 100%;
  border-left: none;
  border-radius: 0 .65rem .65rem 0;
  }
  
  #chat1 .form-outline .form-control:focus~.form-notch .form-notch-leading {
  border-top: 0.125rem solid #39c0ed;
  border-bottom: 0.125rem solid #39c0ed;
  border-left: 0.125rem solid #39c0ed;
  }
  
  #chat1 .form-outline .form-control:focus~.form-notch .form-notch-leading,
  #chat1 .form-outline .form-control.active~.form-notch .form-notch-leading {
  border-right: none;
  transition: all 0.2s linear;
  }
  
  #chat1 .form-outline .form-control:focus~.form-notch .form-notch-middle {
  border-bottom: 0.125rem solid;
  border-color: #39c0ed;
  }
  
  #chat1 .form-outline .form-control:focus~.form-notch .form-notch-middle,
  #chat1 .form-outline .form-control.active~.form-notch .form-notch-middle {
  border-top: none;
  border-right: none;
  border-left: none;
  transition: all 0.2s linear;
  }
  
  #chat1 .form-outline .form-control:focus~.form-notch .form-notch-trailing {
  border-top: 0.125rem solid #39c0ed;
  border-bottom: 0.125rem solid #39c0ed;
  border-right: 0.125rem solid #39c0ed;
  }
  
  #chat1 .form-outline .form-control:focus~.form-notch .form-notch-trailing,
  #chat1 .form-outline .form-control.active~.form-notch .form-notch-trailing {
  border-left: none;
  transition: all 0.2s linear;
  }
  
  #chat1 .form-outline .form-control:focus~.form-label {
  color: #39c0ed;
  }
  
  #chat1 .form-outline .form-control~.form-label {
  color: #bfbfbf;
  }


/* ====================== Responsive Design ========================== */




@media (max-width: 991px) {
  .navigation {
    left: -300px;
  }
  .navigation.active {
    width: 300px;
    left: 0;
  }
  .main {
    width: 100%;
    left: 0;
  }
  .main.active {
    left: 300px;
  }
  .cardBox {
    grid-template-columns: repeat(2, 1fr);
  }

  .cardFinance {
    grid-template-columns: repeat(1, 1fr);
  }

  
  .chat {
    grid-template-columns: repeat(1, 1fr);
  }

  .cardFinance2 {
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 10px;
  }


}

@media (max-width: 768px) {
  .details {
    grid-template-columns: 1fr;
  }
  .recentOrders {
    overflow-x: auto;
  }
  .status.inProgress {
    white-space: nowrap;
  }


}

@media (max-width: 480px) {
  .cardBox {
    grid-template-columns: repeat(1, 1fr);
  }

  .cardFinance {
    grid-template-columns: repeat(1, 1fr);
  }

  .chat {
    grid-template-columns: repeat(1, 1fr);
  }



  .cardFinance2 {
    grid-template-columns: repeat(1, 1fr);
  }
  .cardHeader h2 {
    font-size: 20px;
  }
  .user {
    min-width: 40px;
  }
  .navigation {
    width: 100%;
    left: -100%;
    z-index: 1000;
  }
  .navigation.active {
    width: 100%;
    left: 0;
  }
  .toggle {
    z-index: 10001;
  }
  .main.active .toggle {
    color: #fff;
    position: fixed;
    right: 0;
    left: initial;
  }
}
